{% extends 'ComSemApp/sidebar.html' %}
{% block content %}
<div class="card-box cs-table-container" style="min-height:600px;">
    <div class="row">
        <div class="col-6">
            <h4 class="m-t-0 header-title">
                <b>Topic List</b>
            </h4>
        </div>
        <div class="col-md-6">
            <a class="btn btn-sm btn-outline-info pull-right" href="{% url 'discussion_board:create_topic' %}">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

    <div class = "row mt-2">
        {% if topics %}
        <table class="table table-hover tablesorter">
            <thead>
                <tr>
                    <th>Person Posted</th>
                    <th>Topic</th>
                    <th class="d-xs-none" data-filter="false" data-sorter="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr topic_id = "{{ topic.id }}">
                    <td>{{topic.personPosted}}</td>
                    <td>{{topic.topic}}</td>
                    <td>
                        <a href="{% url 'discussion_board:topic' topic.id %}" class="btn btn-sm btn-outline-primary">Go To Thread</a>
                    </td>
                </tr>
                {% endfor %}
                {% include 'ComSemApp/tablesorter_footer.html' %}
            </tbody>
        </table>
        {% else %}
            <p>No available topics.</p>
        {% endif %}
    </div>
</div>
{% endblock %}