{% extends 'ComSemApp/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form id = "test" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button  type="submit">Login</button>
    </form>

    <ol id="tour" style="display: none;">
        <li data-target="#test" data-angle="130">
          The first step in the tour
        </li>
      </ol>

      <script>
        $(function(){
            $('#tour').crumble();
        });
        console.log("here");
        </script>
{% endblock %}
