{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

<div class="row">
	<div class="col-md-12 col-lg-12">
		<div class="row">

			<div class="col-md-12 col-lg-4">
				<div class = "portlet">
					<!--first -->
					<div class="row" >
						<div class="col">
							<div class="row" style = "margin-top: 10px">
								<div class ="col">
									<div class = "row">
										<h1 style = "margin-right: auto; margin-left: auto;">392</h1>
									</div>
									<div class = "row">
										<p style = "margin-right: auto; margin-left: auto;">Expressions Completed</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class ="col">
									<div class = "row">
										<h1 style = "margin-right: auto; margin-left: auto;">76</h1>
									</div>
									<div class = "row">
										<p style = "margin-right: auto; margin-left: auto;">Worksheets Completed</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="row" style = "margin-top: 10px">
								<div class ="col">
									<div class = "row">
										<h1 style = "margin-right: auto; margin-left: auto;">5</h1>
									</div>
									<div class = "row">
										<p style = "margin-right: auto; margin-left: auto;">Worksheets Incomplete</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class ="col">
									<div class = "row">
										<h1 style = "margin-right: auto; margin-left: auto;">2</h1>
									</div>
									<div class = "row">
										<p style = "margin-right: auto; margin-left: auto;">Worksheets to Grade</p>
									</div>										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-4">
				<div class ="portlet">
					<!--second -->
					<div class="column2" id="chart_div"></div>
				</div>
			</div>

			<div class="col-md-12 col-lg-4">
				<div class="card-box">
					<div class ="portlet">
						<h4 class="header-title m-t-0 m-b-20">Latest Expressions</h4>
						<!--second -->
						<table class ="table">
							<thead>

							</thead>
							<tbody>
								<tr>  
									<td> Veni Vidi Vici</td>
								</tr>
								<tr>  
									<td> Carpe Diem!</td>
								</tr>
								<tr>  
									<td> Ad Astra!</td>
								</tr>
								<tr>  
									<td> Senatus Populosque Romanum</td>
								</tr>
								<tr>  
									<td> Dei Gratia</td>
								</tr>


							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-3">
		{% include 'ComSemApp/course_details.html' %}
	</div>

	<div class="col-md-12 col-lg-9">

		<div class="card-box">

			<h4 class="header-title m-t-0 m-b-20">Worksheets</h4>

			{% if worksheets %}
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Topic</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for worksheet in worksheets %}

					<tr id="worksheet-{{ worksheet.id }}">
						<td>{{ forloop.counter }}</td>
						<td>{{ worksheet.date }}</td>
						<td>{{ worksheet.topic }}</td>
						<td>
							<span class='badge badge-{{ worksheet.status_color }}'>{{ worksheet.last_submission_status }}</span>
						</td>
						<td>
							<a href="{{ worksheet.link_url }}" class='btn btn-sm btn-outline-primary'>{{ worksheet.button_text }}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
			{% else %}
				<p>No worksheets available</p>
			{% endif %}
		</div>
	</div>
</div>


<div> 
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
	
		  google.charts.load('current', {'packages':['corechart']});
	
		  // Set a callback to run when the Google Visualization API is loaded.
		  google.charts.setOnLoadCallback(drawChart);
	
		  // Callback that creates and populates a data table,
		  // instantiates the pie chart, passes in the data and
		  // draws it.
		  function drawChart() {
	
			// Create the data table.
			var data = new google.visualization.DataTable();
			var incomplete = {{ classincomplete }};
			var completed = {{ classcomplete }};
			var ungraded = {{ classungraded }};
			console.log("incomplete", incomplete);
			console.log("completed", completed);
			console.log("ungraded", ungraded);
			var data = google.visualization.arrayToDataTable([
			  ['Source', 'Clicks'],
			  ['Completed', 4],
			  ['Incomplete', 4],
			  ['Ungraded', 4]
			]);
	
	
			// Set chart options
			var options = {'height':300};
	
			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
			chart.draw(data, options);
	
	
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawBackgroundColor);
		  }
		  </script>
	</div>

{% endblock %}
